script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript" src="/lib/bootstrap-material-design/dist/js/ripples.min.js")
script(type="text/javascript" src="/lib/bootstrap-material-design/dist/js/material.min.js")

script(type="text/javascript" src="/lib/moment/min/moment.min.js")

script(src='http://kendo.cdn.telerik.com/2015.3.1111/js/kendo.all.min.js')
script(src='http://kendo.cdn.telerik.com/2016.1.112/js/kendo.angular.min.js')

script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/angular-kendo/build/angular-kendo.min.js")
script(type="text/javascript" src="/lib/angular-ui-calendar/src/calendar.js")
script(type="text/javascript" src="/lib/fullcalendar/dist/fullcalendar.min.js")
script(type="text/javascript" src="/lib/fullcalendar/dist/gcal.js")
//End Libs

// App
script(type="text/javascript" src="/app/app.js")

// Services
script(type="text/javascript" src="/app/services/event-service.js")
script(type="text/javascript" src="/app/services/books-service.js")
script(type="text/javascript" src="/app/services/zen-service.js")

// Controllers
script(type="text/javascript" src="/app/controllers/events-calendar-controller.js")
script(type="text/javascript" src="/app/controllers/events-create-controller.js")
script(type="text/javascript" src="/app/controllers/books/books-controller.js")
script(type="text/javascript" src="/app/controllers/books/book-create-controller.js")
script(type="text/javascript" src="/app/controllers/zen/zen-controller.js")


script(type="text/javascript" src="/app/common/data.js")
