extends shared/layout
block main-content
  .home-image-bg
    h1 Welcome to JavaScript 101
    h2 All you can eat JavaScript for free!
    p You want to
    ul(class='site-desc')
      li Write and  compile JavaScript
      li Find relevant JavaScript books
      li Go to javaScript events
    h3 Then this is the place for you!
    p Please feel free to register and start JavaScripting.
    p But be warned: It's all at your own risk!