extends ../shared/layout
block main-content
    .panel.panel-primary.text-center
        .panel-heading
            h3.panel-title About us
        .panel-body
            img(src='https://media.licdn.com/mpr/mpr/shrinknp_800_800/p/5/005/0b6/1c4/199aff3.jpg')

