extends ../shared/layout
block main-content
    .panel.panel-primary.text-center
        .panel-heading
            h3.panel-title About us
        .panel-body
            | Some important text

