extends ../shared/layout
block main-content
    .row
        .col-md-8.col-md-offset-2
            table.table.table-hover
                thead
                    tr
                        each title in titles
                            th= title
                    tbody
                        each book in books
                        tr
                            each prop in book
                                td= prop




