extends ../shared/layout
block main-content
    .row
        .col-md-8.col-md-offset-2
            table.table.table-hover
                thead
                    tr
                        each title in ['Title', 'Description', 'Authors', 'Difficult level', 'Pages', 'Pusblish date']
                            th= title
                    tbody
                        each book in books
                        tr
                            each prop in book
                                td= prop




