extends ../shared/layout
block main-content
    .container(ng-controller='UserController as vm')
        form(ng-submit='vm.login(vm.username, vm.password)')
            input(id="username" class="form-control" type="text" name="username" placeholder="Username" ng-model='vm.username')
            br
            input(id="password" class="form-control" type="password" name="password" placeholder="Password" ng-model='vm.password')
            br
            input(type="submit" class="btn btn-lg" value="Login")
            div(ng-bind='vm.error', style='color:red;')
