extends ../shared/layout

block main-content
    .container(ng-controller='UserController as vm')
        form(naem="signUpForm" ng-submit='vm.register(vm.username, vm.password)')
            input(id="username" ng-required="true" class="form-control" type="text" name="username" placeholder="Username" ng-model="vm.username")
            br
            input(id="password" ng-required="true" class="form-control" type="password" name="password" placeholder="Password" ng-model="vm.password")
            br
            input(id="confirm-password" ng-required="true" class="form-control" type="password" name="confirmPassword" placeholder="Confirm password" ng-model="vm.confirmPassword")
            br
            input(type="submit" class="btn btn-lg" value="Register" ng-disabled="signUpForm.$invalid || (vm.password != vm.confirmPassword)")
            div(ng-bind='vm.error', style='color:red;')